
$tablet: 1200;
$mob: 767;



@mixin r($width) {
    @media only screen and (max-width: $width+ "px") {
        @content;
    }
}


@mixin md {
    @include r($tablet) {
        @content;
    }
}

@mixin sm {
    @include r($mob) {
        @content;
    }
}

body {
	background: #060606;
	color: #FFF;
	position: relative;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
}

.px-header {
	padding: 20px 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition: all .2s ease;


	&_active {
		position: fixed;
		z-index: 9;
		background: rgba(1,1,1,.7);
		padding: 10px 0;

		.px-header__items {
			opacity: 0;
		}

		.px-header__logo {
			padding-bottom: 20px;
		}

		.px-logo {
			img {
				max-height: 40px;
			}
		}

	}

	&__items {
		display: inline-block;
	}

	&__item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		font-size: 18px;

		span {
			font-weight: 700;
			font-size: 25px;
		}

		&_left,
		&_right {
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&_left {
			padding-left: 40px;
			margin-left: 80px;

			&:before {
				background: url('../img/letter.png') center center no-repeat;
		        background-size: contain;
				height: 37px;
				width: 29px;
			}
		}

		&_right {
			margin-left: 28px;
			padding-left: 50px;

			&:before {
				background: url('../img/ok.png') center center no-repeat;
				background-size: contain;
				height: 45px;
				width: 40px;
			}
		}
	}
}

.px-logo {
	display: inline-block;

	img {
		display: inline-block;
		vertical-align: middle;
	}
}

.px-h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	background: linear-gradient(45deg, #f0e394 33%, #c8b368 66%, #b59c53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: #FFD50C;
	margin-top: 10px;
	margin-bottom: 0;

}

.px-h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 52px;
	text-transform: uppercase;
	text-align: center;

	strong {
		font-weight: 700;
	}

	span {
		color: #FC481A;
	}
}

.px-h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	margin-top: 10px;
	margin-bottom: 0;
}

.px-poster {
	padding-top: 65px;
	background: url('../img/main-bg.png') center top no-repeat;
	background-size: contain;
	min-height: 666px;

	&__list {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		margin-top: 20px;
	}

	&__list-item {
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		position: relative;
		padding: 0px 0 10px 35px;
		margin-bottom: 10px;

		&:before {
			content: "";
			position: absolute;
			width: 25px;
			height: 25px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background: #C23814 url('../img/check.png') no-repeat center 7px;
			top: -4px;
			left: 0;
		}


		&:after {
			content: "";
			position: absolute;
			height: 1px;
			width: 230px;
			z-index: 2;
			bottom: 0;
			left: 25px;
			background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.5) 33%, rgba(255,255,255,.55) 50%, rgba(255,255,255,.5) 68%, rgba(255,255,255,0.55) 76%, rgba(255,255,255,0) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 33%,rgba(255,255,255,.55) 50%,rgba(255,255,255,.5) 68%,rgba(255,255,255,0.55) 76%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,.5) 33%,rgba(255,255,255,.55) 50%,rgba(255,255,255,.5) 68%,rgba(255,255,255,0.55) 76%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endCo
			lorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
		}

		&:last-child {
			margin-bottom: 0;
			max-width: 210px;

			&:after {
				bottom: -3px;
			}
		}
	}

	&__product {
		width: 365px;
		height: auto;
	}

	&__text {
		font-size: 19px;
		font-weight: 400;
		font-family: 'PT Sans Narrow', sans-serif;
		padding-left: 15px;
		margin-top: 15px;
	}

	&__discount {
		padding-top: 360px;
		padding-left: 15px;
	}

	&__col-right {
		padding-left: 30px;
	}

	&__calc {
		display: inline-block;
		vertical-align: middle;
	}

	&__num {
		position: relative;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		font-size: 50px;
		line-height: 55px;
		padding: 0 12px;
		background: #FFF;
		color: #000;
		display: inline-block;
		-webkit-border-radius: 5px;
		        border-radius: 5px;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			width: 100%;
			height: 1px;
			background: #CECECE;

		}

		&_disabled {
			opacity: 0.7;
		}
	}

	&__sale {
		margin-bottom: 17px;
	}

	&__sale-text {
		display: inline-block;
		vertical-align: middle;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 19px;
		text-align: left;
		max-width: 125px;
		padding-left: 13px;
	}

	&__form-outer {
		font-size: 0;
		width: 100%;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		background: #fff;
		position: relative;
		overflow: hidden;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 123px;
			height: 15px;
			left: 0;
    		top: -10px;
			background: url('../img/lightborder.png');
		}
	}

	&__form-top {
		border-radius: 10px 10px 50% 50%;
	    width: 150%;
	    margin-left: -25%;
		background: rgb(139,54,25);
		text-align: center;
		padding: 23px 0 18px;
		background: -moz-linear-gradient(top, rgba(139,54,25,1) 1%, rgba(139,54,25,1) 1%, rgba(139,54,25,1) 14%, rgba(139,54,25,1) 14%, rgba(104,32,9,1) 63%, rgba(67,19,9,1) 100%);
		background: -webkit-linear-gradient(top, rgba(139,54,25,1) 1%,rgba(139,54,25,1) 1%,rgba(139,54,25,1) 14%,rgba(139,54,25,1) 14%,rgba(104,32,9,1) 63%,rgba(67,19,9,1) 100%);
		background: linear-gradient(to bottom, rgba(139,54,25,1) 1%,rgba(139,54,25,1) 1%,rgba(139,54,25,1) 14%,rgba(139,54,25,1) 14%,rgba(104,32,9,1) 63%,rgba(67,19,9,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b3619', endColorstr='#431309',GradientType=0 );
		overflow: hidden;
		position: relative;


		&:after {
			content: "";
			display: block;
			position: absolute;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			width: 175px;
			height: 250px;
			top: -90px;
    			left: -15px;
			background: -moz-linear-gradient(left, rgba(61,21,5,0.65) 0%, rgba(61,21,5,0.63) 3%, rgba(61,21,5,0.44) 33%, rgba(166,54,21,0.26) 61%, rgba(166,54,21,0.15) 77%, rgba(166,54,21,0.09) 86%, rgba(166,54,21,0.05) 92%, rgba(166,54,21,0.03) 95%, rgba(166,54,21,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(61,21,5,0.65) 0%,rgba(61,21,5,0.63) 3%,rgba(61,21,5,0.44) 33%,rgba(166,54,21,0.26) 61%,rgba(166,54,21,0.15) 77%,rgba(166,54,21,0.09) 86%,rgba(166,54,21,0.05) 92%,rgba(166,54,21,0.03) 95%,rgba(166,54,21,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(61,21,5,0.65) 0%,rgba(61,21,5,0.63) 3%,rgba(61,21,5,0.44) 33%,rgba(166,54,21,0.26) 61%,rgba(166,54,21,0.15) 77%,rgba(166,54,21,0.09) 86%,rgba(166,54,21,0.05) 92%,rgba(166,54,21,0.03) 95%,rgba(166,54,21,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63d1505', endColorstr='#00a63615',GradientType=1 ); /* IE6-9 */
		}
	}

	&__price-info {
		font-size: 18px;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 400;
		display: inline-block;
		text-align: left;

		&_disabled {
			opacity: 0.7;
			padding-right: 20px;
		}
	}

	&__price {
		font-size: 48px;
		font-weight: 700;

		&_disabled {
			position: relative;
			font-weight: 400;

			&:after {
				content: "";
				position: absolute;
				width: 77%;
				height: 2px;
				background: #FFF;
				left: 0;
				bottom: 24px;

			}
		}

		span {
			font-size: 24px;
		}
	}


	&__form-secure {
		color: #000;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 15px;
		position: relative;
		padding-bottom: 25px;
		padding-left: 50px;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 15px;
			height: 20px;
			background: url("../img/lock.png") no-repeat center center;
			left: 28px;
    		top: -4px;
		}
	}

}

.px-form {
	padding: 20px 20px 23px;

	&__input {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		padding: 18px 14px;
		border: 1px solid #e1e1e1;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		background: #F6F6F6;
		color: #929292;
		margin-bottom: 15px;
		outline-color: #B13412;


		&:last-of-type{
			margin-bottom: 27px;
		}
	}

	&__button {
		width: 100%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		font-size: 22px;
		text-transform: uppercase;
		color: #fff;
		background: #F7491B;
		border: none;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		padding: 18px 20px 18px 65px;
		-webkit-box-shadow: -2px 0px 61px 7px rgba(230,164,147,0.5);
		-moz-box-shadow: -2px 0px 61px 7px rgba(230,164,147,0.5);
		box-shadow: -2px 0px 61px 7px rgba(230,164,147,0.5);
		cursor: pointer;
		position: relative;
		outline-color: #B13412;
		-webkit-transition: padding .5s ease;
		   -moz-transition: padding .5s ease;
		    -ms-transition: padding .5s ease;
		     -o-transition: padding .5s ease;
		        transition: padding .5s ease;

		span {
			display: inline-block;
			width: 50px;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			background: #B13412;
				-webkit-border-radius: 5px;
	        border-radius: 5px;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;

			&:after {
				content: "";
				display: block;
				width: 12px;
				height: 12px;
				border-top: 3px solid #fff;
				border-right: 3px solid #fff;
				position: absolute;
				top: 25px;
				left: 16px;
				transform: rotate(45deg);
			}
		}

		@media screen and (min-width: 1201px){

			&:hover {
				padding-left: 25px;
				padding-right: 65px;

				span{
					left: calc(100% - 50px);
				}
			}

		}
	}

}

.px-question {
	background: url("../img/fire.png") no-repeat center -45px;
	padding-top: 33px;
	margin-bottom: 67px;

	&__text {
		font-family: 'PT Sans', sans-serif;
		font-size: 22px;
		line-height: 1;
		font-weight: 400;
		margin: 12px 0 25px;
	}

	&__blocks {
		background: #FFF;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		text-align: center;
		max-width: 642px;
		margin: auto;
		padding: 32px 0 48px;
	}

	&__block {
		font-size: 0;
		padding: 0 50px;
	}

	&__query,
	&__query-num {
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		color: #000;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__query-num {
		font-size: 30px;
		line-height: 60px;
		padding: 0 25px;
		display: inline-block;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background: #E5E5E5;
		vertical-align: middle;
	}

	&__query{
		font-size: 24px;
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;

	}

	&__answer {
		position: relative;
		width: calc(50% - 20px);
		background: #F04B25;
		padding: 27px 0;
		text-align: center;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		border: none;
		text-transform: uppercase;
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		font-size: 24px;
		overflow: hidden;
		margin: 0 10px;
		cursor: pointer;
		outline: none;

		span {
			position: relative;
			z-index: 1;
			display: inline-block;
			transition: transform .5s ease;
			-webkit-backface-visibility: hidden;
			   -moz-backface-visibility: hidden;
			        backface-visibility: hidden;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -10%;
   			width: 120%;
			height: 45px;
			border-radius: 10px 10px 50% 50%;
			background: rgb(252,86,43);
			background: -moz-linear-gradient(top, rgba(252,86,43,1) 0%, rgba(252,99,59,1) 100%);
			background: -webkit-linear-gradient(top, rgba(252,86,43,1) 0%,rgba(252,99,59,1) 100%);
			background: linear-gradient(to bottom, rgba(252,86,43,1) 0%,rgba(252,99,59,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc562b', endColorstr='#fc633b',GradientType=0 );
			transition: transform .5s ease;
		}

		@media screen and (min-width: 1201px){
			&:hover {
				&:before {
					transform: translateY(-100%);
				}

				span {
					transform: scale(1.3);
				}
			}
		}
	}
}

.px-description {
	color: #000;

	&_woman {
		margin-bottom: 47px;

	}

	&_doctor{
		padding-bottom: 10px;
		position: relative;
		margin-top: -4px;

		&:after {
			content: "";
			position: absolute;
			width: 600px;
			height: 10px;
			bottom: 0;
			left: 12%;
			background:  url('../img/bottom_bg.png') no-repeat;
		}
	}

	&__inner {
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		overflow: hidden;
		text-align: left;

		&_woman {
			background: #FFF url("../img/description.png") no-repeat 438px -57px;
			padding: 20px 390px 32px 35px;

		}

		&_doctor {
			background: #FFF url("../img/doctor.png") no-repeat 290px -36px;
			padding: 20px 355px 5px 35px;

		}
	}

	&__text {
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		font-size: 17px;
		line-height: 26px;
		text-align: left;
		margin: 0 0 5px;

		strong {
			font-weight: 700;
		}
	}

	&__h2 {
		text-align: left;
		margin-bottom: 22px;
	}

	&__autograph {
		display: inline-block;
		vertical-align: middle;
		max-height: 186px;
		width: auto;
		margin-left: 52px;
	}

}


.px-advantages {
	background: url("../img/advantages.png") no-repeat 30px 118px;
	padding-bottom: 60px;
	max-width: 1180px;
	margin: auto;

	&__h2 {
		margin-bottom: 30px;
	}

	&__items {
		max-width: 653px;
		font-size: 0;
	}

	&__item {
		background: #FFF;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		-webkit-transition: transform .5s ease;
		   -moz-transition: transform .5s ease;
		    -ms-transition: transform .5s ease;
		     -o-transition: transform .5s ease;
		        transition: transform .5s ease;
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		        backface-visibility: hidden;

		@media screen and (min-width: 1201px){

			&:hover {
				transform: scale(1.08);
			}
		}
	}

	&__desk {
		padding: 0 5px;
		display: flex;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		        justify-content: center;
		margin-bottom: 15px;
		min-height: 80px;
	}

	&__text {
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		font-size: 16px;
		color: #000;
		text-align: center;
		margin: 0;

	}

	&__img {
		width: 100%;
		max-height: 170px;
	}
}



@include md  {
	.px-container{
		max-width: 725px;
	}

	.px-header {

		&__items {
			display: block;

		}

		&_active {
			background: rgba(1,1,1,.7);
			padding: 10px 0;

		.px-header__items {
			display: none;
		}

		.px-header__logo {
			padding-bottom: 20px;
		}

		.px-logo {
			margin-bottom: 0;

			img {
				max-height: 40px;
			}
		}

	}
	}

	.px-logo {
		display: block;
		margin-bottom: 20px;
		text-align: center;
	}

	.px-poster {
		padding-top: 130px;
		background-position: 140px 9%;

		&__sale {
			text-align: center;
			margin-bottom: 20px;
		}

		&__price-info{

			&_disabled {
				padding-right: 125px;
			}
		}
	}

	.px-h1 {
		text-align: center;
	}

	.px-h4 {
		margin-top: 0;
	}

	.px-description{
		&__inner{
			&_woman{
				padding-right: 185px;
				background-position: 386px -19px;
			}

			&_doctor {
				padding-right: 215px;
				background-position: 85px 69px;
			}
		}
	}

	.px-advantages{
		background-position: -38px 332px;
		-webkit-background-size: 80%;
		     -o-background-size: 80%;
		        background-size: 80%;
		&__items{
			max-width: 480px;
		}

		&__img {
			max-height: 190px;
		}
	}
}


@include sm  {
	.px-container{
		max-width: 100%;
		padding: 0 15px;
	}

	.px-h1 {
		font-size: 34px;
	}
	.px-h2 {
		font-size: 28px;
		line-height: 30px;
	}

	.px-h4 {
		margin-bottom: 15px;
		text-align: center;
	}

	.px-header{
		&__items {
			text-align: center;
		}

		&__item{
			font-size: 20px;

			&_left{
				margin: 0;
				margin-bottom: 5px;

				&:before {
					height: 27px;
				}
			}
			&_right{
				margin: 0;

				&:before {
					height: 24px;
				}
			}
		}
	}

	.px-logo {
		margin-bottom: 5px;
	}

	.px-poster {
		padding-top: 140px;

		background-position: 135px 8%;

		&__product {
			width: 100%;
		}

		&__discount {
			width: 100%;
			max-height: 75px;
			padding-top: 0;
		}

		&__text {
			font-size: 16px;
		}

		&__price-info{

			&_disabled {
		    	padding-right: 20px;
		    }
		}

		&__price {
			font-size: 40px;
		}

		&__col-right {
			padding-left: 0;
		}
	}
	.px-question {
		padding-top: 20px;
		margin-bottom: 30px;

		&__text {
			font-size: 20px;
		}

		&__blocks {
			padding: 20px 0 15px;
		}

		&__query-num {
			margin-bottom: 20px;
			font-size: 22px;
    		line-height: 30px;
    		padding: 0 10px;
		}

		&__query {
			line-height: 28px;
			margin-bottom: 25px;
			padding-left: 0;
			font-size: 20px;

		}

		&__answer {
			padding: 20px 0;
			font-size: 20px;
			margin: 0 0 15px;
			width: 100%;
		}
	}

	.px-form {
		&__input {
			padding: 15px 14px;
		}

		&__button {
			padding: 15px 15px 15px 49px;
			font-size: 18px;

			span {
				&:after {
					top: 20px;
				}
			}
		}
	}

	.px-description{
		&__inner{

			&_woman{
				padding: 15px;
				background-size: 61%;
    			background-position: 173px -54px;
			}

			&_doctor {
				background-image: none;
				padding: 15px;

			}
		}

	}

	.px-advantages {
		min-width: auto;
		background-image: none;

		&__img {
			max-height: 110px;
		}
	}

}
